{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />

    <title>Chat Transact - Categories</title>
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <!-- CSS Assets -->
    <link rel="stylesheet" href="css/app.css" />

    <!-- Javascript Assets -->
    <script src="js/app.js" defer></script>

    <!-- Javascript Third Party Libraries: Components -->
    <script src="js/libs/components.js" defer></script>
    <script src="js/libs/forms.js" defer></script>

    <!-- Special script for current page -->
    <script src="js/pages/forms-datepicker.js" defer></script>

    <!-- Special script for current page -->
    <script src="js/pages/dashboards-influencer.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <script>
      /**
       * THIS SCRIPT REQUIRED FOR PREVENT FLICKERING IN SOME BROWSERS
       */
      localStorage.getItem("dark-mode") === "dark" &&
        document.documentElement.classList.add("dark");
    </script>
  </head>

  <body x-data
        x-bind="$store.global.documentBody" 
        class="is-header-blur">
        <!-- App preloader-->
        <!-- <div
        class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900"
        >
        <div class="app-preloader-inner relative inline-block h-48 w-48"></div>
        </div>  -->

        <!-- Page Wrapper -->
        <div
            id="root"
            class="min-h-100vh flex grow bg-slate-50 dark:bg-navy-900"
        >

            <!-- Main Content -->
            <main class="main-content p-4 w-full pb-8">
                <!-- Table With Filter -->
                <div x-data="{isFilterExpanded:false}">
                    <div class="flex items-center justify-between">
                    <h2
                        class="text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100"
                    >
                        Inventory Categories
                    </h2>
                    <div class="flex">
                        <div class="flex items-center" >
                            <label class="block">
                                <input
                                    class="form-input peer h-9 w-full rounded-full border border-slate-300 bg-transparent px-3 py-2 pl-9 text-xs+ placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                                    placeholder="Search category..."
                                    type="text"
                                />
                            </label>
                            <button
                                class="btn h-8 w-8 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25"
                            >
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-4.5 w-4.5"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="1.5"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                />
                                </svg>
                            </button>
                        </div>
                        <div class="flex items-center">
                            <button
                            class="btn bg-primary font-medium text-white space-x-8 rounded-full hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90"
                            id="new-cat-button" @click="catModal()"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z">
                                    </path>
                                </svg>
                                Add Category
                            </button>
                            <!-- Add New Category Modal -
                            <div id="new-cat-modal" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 backdrop-blur-sm overflow-x-hidden overflow-y-auto md:inset-0 md:h-full">
                                <div class="m-auto justify-center w-full h-full max-w-md md:h-auto">
                                    <!-- Modal content -
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <button id="close-new-cat-modal" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal" @click="catModal()">
                                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                        <div class="px-6 py-6 lg:px-8">
                                            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add New Category</h3>
                                            <form class="space-y-6" action="#">
                                                <div>
                                                    <label for="category-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category Name</label>
                                                    <input type="text" name="category-name" id="category-name" class="form-input peer w-full rounded-full border border-slate-300 bg-transparent px-3 py-2 pl-9 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" required" placeholder="Interesting Category" required>
                                                </div>
                                                <button type="submit" class="w-full text-white bg-primary hover:bg-primary-focus focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-accent-focus dark:hover:bg-accent-focus dark:focus:ring-primary/80">Add</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    </div>
                    <div class="card mt-3">
                    <div class="is-scrollbar-hidden min-w-full overflow-x-auto">
                        <table class="is-hoverable w-full text-left">
                        <thead>
                            <tr>
                                <th
                                    class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                                >
                                    Name
                                </th>
                                <th
                                    class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                                >
                                    Description
                                </th>

                                <th
                                    class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                                >
                                    Count
                                </th>
                                <th
                                    class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                                >
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr
                            class="border-y border-transparent border-b-slate-200 dark:border-b-navy-500"
                            >
                                <td
                                    class="whitespace-nowrap px-4 py-3 font-medium text-slate-700 dark:text-navy-100 sm:px-5"
                                >
                                {{ category.name }}
                                </td>
                                <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                                    {{ category.description }}
                                </td>
                                <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                                    {{ category.product_count }}
                                </td>
                                <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                                    <div class="flex align-middle space-x-2" 
                                        >
                                        <a href="{% url 'category-update' category.id %}"> <button
                                                class="btn bg-primary font-medium text-white space-x-2 px-3 py-2 rounded-full hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90"
                                            >
                                                <i class="fa-regular fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </button></a>
                                            <a href="{% url 'delete-category' category.id %}"> <button
                                                class="btn rounded-full h-9 w-9 p-0 font-medium text-error hover:bg-error/20 focus:bg-error/20 active:bg-error/25"
                                            >
                                                <i class="fa-regular fa-trash-can"></i>
                                                <span class="sr-only">Delete</span>
                                            </button></a>
                                        </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                    <div
                        class="flex flex-col justify-between space-y-4 px-4 py-4 sm:flex-row sm:items-center sm:space-y-0 sm:px-5"
                    >
                        <div class="text-xs+">1 - 10 of 10 entries</div>
                        <ol class="pagination space-x-1.5">
                        <li>
                            <a
                            href="#"
                            class="flex h-8 w-8 items-center justify-center rounded-full bg-slate-150 text-slate-500 transition-colors hover:bg-slate-300 focus:bg-slate-300 active:bg-slate-300/80 dark:bg-navy-500 dark:text-navy-200 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90"
                            >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-4 w-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="2"
                            >
                                <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15 19l-7-7 7-7"
                                />
                            </svg>
                            </a>
                        </li>
                        <li>
                            <a
                            href="#"
                            class="flex h-8 min-w-[2rem] items-center justify-center rounded-full bg-slate-150 px-3 leading-tight transition-colors hover:bg-slate-300 focus:bg-slate-300 active:bg-slate-300/80 dark:bg-navy-500 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90"
                            >1</a
                            >
                        </li>
                        <li>
                            <a
                            href="#"
                            class="flex h-8 min-w-[2rem] items-center justify-center rounded-full bg-primary px-3 leading-tight text-white transition-colors hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90"
                            >2</a
                            >
                        </li>
                        <li>
                            <a
                            href="#"
                            class="flex h-8 min-w-[2rem] items-center justify-center rounded-full bg-slate-150 px-3 leading-tight transition-colors hover:bg-slate-300 focus:bg-slate-300 active:bg-slate-300/80 dark:bg-navy-500 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90"
                            >3</a
                            >
                        </li>
                        <li>
                            <a
                            href="#"
                            class="flex h-8 min-w-[2rem] items-center justify-center rounded-full bg-slate-150 px-3 leading-tight transition-colors hover:bg-slate-300 focus:bg-slate-300 active:bg-slate-300/80 dark:bg-navy-500 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90"
                            >4</a
                            >
                        </li>
                        <li>
                            <a
                            href="#"
                            class="flex h-8 min-w-[2rem] items-center justify-center rounded-full bg-slate-150 px-3 leading-tight transition-colors hover:bg-slate-300 focus:bg-slate-300 active:bg-slate-300/80 dark:bg-navy-500 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90"
                            >5</a
                            >
                        </li>
                        <li>
                            <a
                            href="#"
                            class="flex h-8 w-8 items-center justify-center rounded-full bg-slate-150 text-slate-500 transition-colors hover:bg-slate-300 focus:bg-slate-300 active:bg-slate-300/80 dark:bg-navy-500 dark:text-navy-200 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90"
                            >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-4 w-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5l7 7-7 7"
                                />
                            </svg>
                            </a>
                        </li>
                        </ol>
                    </div>
                    </div>
                </div>
                <!-- Add New Category Modal -->
                <div id="new-cat-modal" class="fixed justify-center hidden content-center z-50 w-full p-4 backdrop-blur-sm overflow-x-hidden overflow-y-auto md:inset-0 md:h-full">
                    <div class="m-auto flex justify-center items-center w-full h-full max-w-md">
                        <!-- Modal content -->
                        <div class="relative w-full bg-white rounded-lg shadow dark:bg-gray-700">
                            <button id="close-new-cat-modal" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal" @click="catModal()">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <div class="px-6 py-6 lg:px-8">
                                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add New Category</h3>
                                <form class="space-y-6" action="#">
                                    <div>
                                        <label for="category-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category Name</label>
                                        <input type="text" name="category-name" id="category-name" class="form-input peer w-full rounded-full border border-slate-300 bg-transparent px-3 py-2 pl-9 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" required"="" placeholder="Interesting Category" required="">
                                    </div>
                                    <div>
                                        <label for="category-desc" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category Description</label>
                                        <textarea name="category-desc" id="category-desc" class="form-input peer w-full rounded-md border border-slate-300 bg-transparent px-3 py-2 pl-9 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Put a Description here" rows="3" required=""></textarea>
                                    </div>
                                    <button type="submit" class="w-full text-white bg-primary hover:bg-primary-focus focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-accent-focus dark:hover:bg-accent-focus dark:focus:ring-primary/80">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- 
        This is a place for Alpine.js Teleport feature 
        @see https://alpinejs.dev/directives/teleport
      -->
    <div id="x-teleport-target"></div>
    <script>
        window.addEventListener("DOMContentLoaded", () => Alpine.start());
        
        const filterButton = document.getElementById("filter-button")
        const actionMenu =  document.getElementById("action-menu")
        const newCatModal = document.getElementById("new-cat-modal")
        
        let catModalEls =   [   newCatButton = document.getElementById("new-cat-button"),
                                closeNewCatModal = document.getElementById("close-new-cat-modal")
                            ];

        // Hide the action menu to delete and edit a category
        filterButton.addEventListener('click', function(){
            if (actionMenu.classList.contains('hidden')) {
                actionMenu.classList.remove('hidden')
            } else {
                actionMenu.classList.add('hidden')
            }
        })

        // Function to open and close new category modal
        catModalEls.forEach(function catModal(event) {
            event.addEventListener('click', function() {
                    if (newCatModal.classList.contains('hidden')) {
                    newCatModal.classList.remove('hidden')
                } else {
                    newCatModal.classList.add('hidden')
                }
            });
        });

    </script>
  </body>
</html>
{% endblock content %}