<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="{{product.name}}" value="{{product.name}}" name="productname">
        <input type="text" placeholder="description"  name="description">
        <input type="text" placeholder="product code"  name="sku">
        <input type="text" placeholder="discount"  name="discount">
        <input type="text" placeholder="price"  name="product_price">
        <input type="text" placeholder="color"  name="color">
        <input type="text" placeholder="size"  name="size">
        <input type="text" placeholder="manufacturer"  name="manufacturer">
        <input type="text" placeholder="brand"  name="brand">
        <input type="text" placeholder="dimension"  name="dimension">
        <input type="text" placeholder="weight"  name="weight">
        <input type="text" placeholder="stock"  name="stock">        
        <input type="submit" value="Update Product">
    </form> 

</div>
</body>
</html>